*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    background-color: #131921;
    display: flex;
    align-items: center;
    width:auto;
}
.navbar-nav {
    display: flex;
    align-items: center;
  }